:host {
    --suggestions-item-min-height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.info {
    padding: 2px;
    width: 100%;
}

.info > div {
    padding-left: 4px;
}

.suggestion-name {
    color: #072146;
}

.suggestion-id, .suggestion-color {
    margin-top: 4px;
    color: #1d73b2;
}